body {background: rgb(159,4,4);
    background: linear-gradient(90deg, rgba(159,4,4,1) 13%, rgba(193,0,0,1) 28%, rgba(255,83,83,1) 62%);}

    header {
        display: flex;
        justify-content: center;
    }

    .nav-lista {
        display: flex;
        list-style: none;
        font-size: 45px;
        color: white;
        gap: 28px;
        text-transform: uppercase;
    }

    .nav-item:hover {
        cursor: pointer;
        background-color: gray;
        color: black;
    }

section {
    width: 100%;
    padding-left: 8%;
}

.secao {
    padding-right: 8%;
    padding-top: 2%;
}

.moldura videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.video {
    flex: 1 1 30%;
    margin: 10px;
}

.video iframe {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

* {
    margin: 0%;
    padding: 0%;
}